@model IEnumerable<GerenciamentoDePedidos.Domain.Models.Produto>
<table class="table">
    <thead><tr><th>Nome</th><th>Preço</th><th>Estoque</th><th>Ações</th></tr></thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Nome</td>
                <td>@String.Format("{0:C}", p.Preco)</td>
                <td>@p.Estoque</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@p.Id" class="btn btn-sm btn-primary">Editar</a>
                    <a asp-action="Delete" asp-route-id="@p.Id" class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-success">Novo Produto</a>